resources/ export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.npmrc export-ignore
.nvmrc export-ignore
.phpcs.xml.dist export-ignore
.prettierignore export-ignore
.prettierrc.mjs export-ignore
package.json export-ignore
pnpm-lock.yaml export-ignore
postcss.config.cjs export-ignore
README.md export-ignore
webpack.config.js export-ignore
