resources/ export-ignore
.npmrc export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.prettierignore export-ignore
.prettierrc export-ignore
package.json export-ignore
pnpm-lock.yaml export-ignore
webpack.config.js export-ignore
