@import "select2";


$color_primary: #008dd4;

.optioner-wrap {
	.wrap-content {
		display: flex;

		.wrap-primary {
			flex: 1;
		}

		.wrap-secondary {
			margin-left: 15px;
			margin-top: 43px;
		}
	}

	.tab-disabled {
		.wrap-secondary {
			margin-top: 20px;
		}

		.tab-content {
			.tab-content-inner {
				margin-top: 20px;
				border-top: 1px solid #ccd0d4;
			}
		}
	}

	.tab-content {
		.tab-content-inner {
			background-color: #fff;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
			border: 1px solid #ccd0d4;
			border-top: none;

			& > h2 {
				display: none;
			}
		}

		.tab-content-inner-fields {
			padding: 5px 20px 15px 20px;
		}

		.tab-content-inner-custom {
			padding: 20px;
		}

		.tab-content-inner-custom p:first-child {
			margin-top: 0;
		}

		.tab-content-inner-custom p:last-child {
			margin-bottom: 0;
		}

		p.submit {
			padding-bottom: 0;
		}
	}

	.tab-enabled {
		.tab-content {
			display: none;
		}
	}

	.nav-tab-active,
	.nav-tab-active:hover {
		background-color: #fff;
		border-bottom-color: #fff;
		box-shadow: none;
	}

	.sidebox {
		position: relative;
		min-width: 200px;
		border: 1px solid #ccd0d4;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		background: #fff;
		padding: 15px;
		margin-bottom: 15px;

		.sidebox-heading {
			font-size: 1.2em;
			margin-top: 0;
		}

		.sidebox-content {
			ul,
			ol,
			p {
				margin-top: 0;
			}

			p:last-child {
				margin-bottom: 0;
			}

			ul, ol {
				list-style-position: outside;
				margin-left: 1.3em;
			}

			ul {
				list-style-type: disc;
			}
		}
	}

	.form-field-heading {
		margin-left: -10px;

		h2 {
			margin-top: 0;
		}

		.description {
			font-size: 13px;
			font-style: inherit;
			color: #444;
		}
	}

	.form-field-radio {
		.layout-horizontal {
			display: flex;
		}

		.radio-list {
			margin: 0;
			padding: 0;

			li {
				margin-right: 10px;
			}
		}
	}

	.form-field-image {
		.show {
			display: inline-block;
		}

		.hide {
			display: none;
		}

		.image-preview-wrap {
			margin-top: 10px;
			max-width: 200px;

			img {
				width: 100%;
			}
		}
	}

	.optioner-button {
		display: inline-block;
		background-color: $color_primary;
		border: 1px solid $color_primary;
		color: #fff;
		border-radius: 4px;
		text-decoration: none;
		padding: 4px;
		opacity: 0.9;
		transition: 0.2s;
		width: 20px;
		height: 20px;

		&:hover,
		&:focus,
		&:active {
			opacity: 1;
		}

		&-danger {
			background-color: #b73b27;
			border-color: #b73b27;
		}
	}
}
