.tab-content .tab-content-inner > h2 {
	display: none;
}

.wrap-content {
	display: flex;
}

.wrap-content.tab-disabled {
	display: flex;
}

.wrap-primary {
	flex: 1;
}

.wrap-secondary {
	margin-left: 15px;
	margin-top: 43px;
}

.tab-disabled .wrap-secondary {
	margin-top: 20px;
}

.tab-content .tab-content-inner {
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	border: 1px solid #ccd0d4;
	border-top: none;
}

.tab-disabled .tab-content-inner {
	margin-top: 20px;
	border-top: 1px solid #ccd0d4;
}

.tab-content-inner-fields {
	padding: 5px 20px 15px 20px;
}

.tab-content-inner-custom {
	padding: 20px;
}

.tab-content-inner-custom p:first-child {
	margin-top: 0;
}

.tab-content-inner-custom p:last-child {
	margin-bottom: 0;
}

.tab-content p.submit {
	padding-bottom: 0;
}

.nav-tab-active,
.nav-tab-active:hover {
	background-color: #fff;
	border-bottom-color: #fff;
}

.sidebox {
	position: relative;
	min-width: 200px;
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background: #fff;
	padding: 15px;
	margin-bottom: 15px;
}

.sidebox .box-heading {
	font-size: 1.2em;
	margin-top: 0;
}

.sidebox .box-content ul,
.sidebox .box-content ol,
.sidebox .box-content p {
	margin-top: 0;
}

.sidebox .box-content p:last-child {
	margin-bottom: 0;
}

.form-field-heading {
	margin-left: -10px;
}

.form-field-heading h2 {
	margin-top: 0;
}

.form-field-heading .description {
	font-size: 13px;
	font-style: inherit;
	color: #444;
}

.form-field-radio .layout-horizontal {
	display: flex;
}

.form-field-radio .radio-list {
	margin: 0;
	padding: 0;
}

.form-field-radio .radio-list li {
	margin-right: 10px;
}

.form-field-image .image-preview-wrap {
	margin-top: 10px;
	max-width: 200px;
}

.form-field-image .image-preview-wrap img {
	width: 100%;
}
