:root {
	--optioner-color-white: #fff;
	--optioner-color-border: #dfdfdf;
	--optioner-color-star: #ffb900;
}

body {
	--optioner-color-primary: var(--wp-admin-theme-color, #008dd4);
	--optioner-color-primary-hover: var(
		--wp-admin-theme-color-darker-10,
		var(--optioner-color-primary)
	);
	--optioner-color-primary-active: var(
		--wp-admin-theme-color-darker-20,
		var(--optioner-color-primary)
	);
	--optioner-button-text: var(--wp-admin-buttons-color, #fff);
}

@custom-media --bp-1 screen and (max-width: 960px);
@custom-media --bp-3 screen and (max-width: 720px);
@custom-media --bp-6 screen and (max-width: 480px);
