.optioner-wrap {

	.form-field-image {

		.hide {
			display: none;
		}

		.preview-wrap {
			max-width: 200px;

			img {
				width: 100%;
				display: none;
			}

			&.preview-on {
				display: block;
				margin-top: 10px;

				img {
					display: block;
				}
			}

		}
	}
}
