.optioner-wrap {
	.field-row-toggle {
		.toggle {
			position: relative;
			display: inline-block;
			width: 50px;
			height: 24px;
			margin-right: 10px;
		}

		.toggle input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			border-radius: 34px;
			transition: 0.4s;
		}

		.slider::before {
			position: absolute;
			content: "";
			height: 16px;
			width: 16px;
			left: 4px;
			bottom: 4px;
			background-color: #fff;
			border-radius: 50%;
			transition: 0.4s;
		}

		input:checked + .slider {
			background-color: $color_primary;
		}

		input:focus + .slider {
			box-shadow: 0 0 1px $color_primary;
		}

		input:checked + .slider::before {
			transform: translateX(26px);
		}
	}
}
