.optioner-header {
	background: #fff;
	padding: 30px;
	margin: -10px -20px 10px -20px;
	border-bottom: 1px solid $color_border;
	box-shadow: 0 1px 1px rgb(0 0 0 / 4%);

	@include respond-to($bp3) {
		margin: 0;
	}

	h1 {
		margin-top: 0;
		padding-top: 0;
	}
}

.optioner-quick-links {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding-top: 10px;

	a {
		@include respond-to($bp6) {
			min-width: 48%;
			text-align: center;
		}
	}
}

.optioner-wrap {
	.wrap-content {
		display: flex;
		flex-direction: row;
		margin-top: 30px;

		@include respond-to($bp3) {
			flex-direction: column;
		}

		&.sticky-sidebar {
			position: relative;
			align-items: flex-start;
		}

		.wrap-primary {
			flex: 1;
			height: 100%;
		}

		.optioner-form-nav-wrap {
			background-color: $white;
			border: 1px solid $color_border;
			box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
			margin-bottom: 30px;
		}

		.wrap-secondary {
			margin-left: 15px;

			@include respond-to($bp3) {
				margin-left: 0;
			}
		}
	}

	.sticky-sidebar {
		.wrap-secondary {
			position: sticky;
			top: 42px;
		}
	}

	.tab-disabled {
		.tab-content {
			display: none;
		}
	}
}
