.optioner-box {
	position: relative;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid $color_border;
	box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
	background: #fff;

	h3 {
		margin-top: 0;
		border-bottom: 1px solid $color_border;
		padding-bottom: 10px;
		font-size: 1.2em;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 5px;

		span {
			color: $color_primary;
		}
	}

	h4 {
		margin: 0;
	}

	p {
		margin: 0.5em 0 1em 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		list-style-type: disc;
	}

	ul,
	ol {
		margin-left: 15px;
	}

	&.gray {
		background: #f8f9fd;
	}

	&.plain {
		position: relative;
		border: 1px solid $color_border;
		background: #f8f9fd;
		border-radius: 5px;
		padding: 25px;

		h3 {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.optioner-stars {
		margin-bottom: 1em;

		.dashicons-star-filled::before {
			color: $yellow;
			margin-right: 3px;
		}
	}
}
