.optioner-tabs-nav {
	background-color: $white;
	padding: 15px 20px;
	border-bottom: 1px solid $color_border;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 30px;

	h3 {
		margin: 0;
		font-size: 1.2em;
	}

	a {
		text-decoration: none;
		color: inherit;
		border-bottom: 3px solid transparent;
		padding: 13px 0;
		outline: none;
		box-shadow: none;

		&.active {
			border-color: $color_primary;
		}
	}
}

.optioner-wrap {

	.nav-tab-active,
	.nav-tab-active:hover {
		background-color: #fff;
		border-bottom-color: #fff;
		box-shadow: none;
	}

	.tab-content {

		.tab-content-inner {
			background-color: #fff;
			// box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
			// border: 1px solid #ccd0d4;
			border-top: none;

			> h2 {
				display: none;
			}
		}

		.tab-content-inner-fields {
			padding: 5px 20px 15px 20px;
		}

		.tab-content-inner-custom {
			padding: 20px;

			ul {
				list-style-type: disc;
			}

			ul, ol {
				margin: 0;
				list-style-position: outside;
				margin-left: 10px;
			}
		}

		.tab-content-inner-custom p:first-child {
			margin-top: 0;
		}

		.tab-content-inner-custom p:last-child {
			margin-bottom: 0;
		}

		p.submit {
			padding-bottom: 0;
		}
	}

	.tab-enabled {

		.tab-content {
			display: none;
		}
	}
}
