.optioner-wrap .wrap-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .optioner-wrap .wrap-content .wrap-primary {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .optioner-wrap .wrap-content .wrap-secondary {
    margin-left: 15px;
    margin-top: 43px; }

.optioner-wrap .tab-disabled .wrap-secondary {
  margin-top: 20px; }

.optioner-wrap .tab-disabled .tab-content .tab-content-inner {
  margin-top: 20px;
  border-top: 1px solid #ccd0d4; }

.optioner-wrap .tab-content .tab-content-inner {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #ccd0d4;
  border-top: none; }
  .optioner-wrap .tab-content .tab-content-inner > h2 {
    display: none; }

.optioner-wrap .tab-content .tab-content-inner-fields {
  padding: 5px 20px 15px 20px; }

.optioner-wrap .tab-content .tab-content-inner-custom {
  padding: 20px; }

.optioner-wrap .tab-content .tab-content-inner-custom p:first-child {
  margin-top: 0; }

.optioner-wrap .tab-content .tab-content-inner-custom p:last-child {
  margin-bottom: 0; }

.optioner-wrap .tab-content p.submit {
  padding-bottom: 0; }

.optioner-wrap .nav-tab-active,
.optioner-wrap .nav-tab-active:hover {
  background-color: #fff;
  border-bottom-color: #fff; }

.optioner-wrap .sidebox {
  position: relative;
  min-width: 200px;
  border: 1px solid #ccd0d4;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
  padding: 15px;
  margin-bottom: 15px; }
  .optioner-wrap .sidebox .box-heading {
    font-size: 1.2em;
    margin-top: 0; }
  .optioner-wrap .sidebox .box-content ul,
  .optioner-wrap .sidebox .box-content ol,
  .optioner-wrap .sidebox .box-content p {
    margin-top: 0; }
  .optioner-wrap .sidebox .box-content p:last-child {
    margin-bottom: 0; }

.optioner-wrap .form-field-heading {
  margin-left: -10px; }
  .optioner-wrap .form-field-heading h2 {
    margin-top: 0; }
  .optioner-wrap .form-field-heading .description {
    font-size: 13px;
    font-style: inherit;
    color: #444; }

.optioner-wrap .form-field-radio .layout-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.optioner-wrap .form-field-radio .radio-list {
  margin: 0;
  padding: 0; }
  .optioner-wrap .form-field-radio .radio-list li {
    margin-right: 10px; }

.optioner-wrap .form-field-image .show {
  display: inline-block; }

.optioner-wrap .form-field-image .hide {
  display: none; }

.optioner-wrap .form-field-image .image-preview-wrap {
  margin-top: 10px;
  max-width: 200px; }
  .optioner-wrap .form-field-image .image-preview-wrap img {
    width: 100%; }
